/* Header Styling */

.header {
  display: flex;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

nav {
  display: inline-flex;
  align-items: center;
}

span {
  margin: 0px 5px 0px 5px;
}

#logo {
  margin: 0px 0px 0px 20px;
  color: MediumAquamarine;
}

#sciNav {
  margin: 0px 20px 0px 5px;
}

.main {
  display: flex;
  border: 1px solid black;
}

/* Main Container Styling

Left Column */



.left {
  border: 1px solid black;
  width: 630px;
  margin: 40px 0px 10px 0px;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.imageHeadline {
  border: 1px solid black;
}
