/* Header Styling */

.header {
  display: flex;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

nav {
  display: inline-flex;
  align-items: center;
}

span {
  margin: 0px 5px 0px 5px;
}

#logo {
  margin: 0px 0px 0px 20px;
  color: MediumAquamarine;
}

#sciNav {
  margin: 0px 20px 0px 5px;
}
/* Main Container Styling */

.main {
  display: flex;
  border: 1px solid black;
  flex-direction: row;
  justify-content: space-between;
}

.left .middle .right {
  diplay: flex;
  flex-direction: column;
}

.article {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}



  /* Left Column */

p {
  margin: 0px 0px 0px 0px;
}

.left {
  border: 1px solid black;
  width: 630px;
  margin: 40px 0px 0px 0px;

}

.imageHeadline {
  border: 1px solid black;
}


/* Middle Column */

.middle {
  width: 300px;
  border: 1px solid black;
  margin: 40px 0px 0px 30px;
}

.right {
  width: 240px;
  border: 1px solid black;
  margin: 40px 0px 0px 30px;
}

/* image Headlines adding images */

.imageHeadline {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}



#phish{
  height: 300px;
  font-size: 40px;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}

#earth {
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

#cats {
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}

#hipster {
  height: 300px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

.blurb {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
